{
    "db": {
        "host": "localhost",
        "user": "unwaste",
        "password": "un3W4$13",
        "database": "unwaste"
    },
    "auth": { 
        "twitterAuthEnabled": false,
        "twitterConsumerKey": "PUT_CONSUMER_KEY_HERE",
        "twitterConsumerSecret": "PUT_CONSUMER_SECRET_HERE"
    }
}
