<div class="page-container" ng-controller="spotController">
     <button id="menu" class="btn pull-left" ng-click="$navigate.back()"><i class="icon-2x icon-cogs"></i></button>
	 <form name="spotForm" ng-submit="createSpot">
	 
	     		<div image-upload id="picture" width="680" height="280"></div>
	     		   		
     

		<div class="jumbotron">
      	<textarea id="comment" name="comment" placeholder="Comment" ng-model="comment"></textarea>
      	<br />			
      	<button class="btn-large btn-big-red" type="submit" class="btn" ng-click="save()"> <i class="icon-map-marker iconred"></i>&nbsp;&nbsp; Create Wastespot</button>
      </div>
    </form>
</div>