body {
	width: 100%;
	padding-left: 0px;
    padding-right: 0px;
}

.bg-img {
	background: url("../img/bg.jpg") no-repeat center top;
	display: table;    
	width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  

.content-container {
	}

.page-container {
    background-color: #fff;
    height: 100%;
}

.brand {
    display: inline-block;
    width: 200px;
    margin: auto;
}

/*
 * 
 *  INDEX:
 * 
 */

.jumbotron {
    padding: 7% 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);  
    font-size: 17.5px;
    color:#FFFFFF;
}

.jumbotron:after {
    bottom: 0;
    content: "";
    display: block;
}

.btn-big-red {
    background-color: #C63702;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    height: 61px;
    letter-spacing: -1px;
    margin: 28px 0 10px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 236px;
    border-color:#C63702;
        
}
.btn-big-red:hover {
	padding-top:2px;
    background-color: #D13902;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #AD3002, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
    margin-top: 26px;
}
.btn-big-red:active {
    box-shadow: 0 0 0 1px #AD3002 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 3px;
    margin-top: 35px;
}
.btn-big-red:before {
    border-radius: 5px 5px 5px 5px;
    content: "";
    display: block;
    height: inherit;
    padding-bottom: 8px;
    position: absolute;
    width: inherit;
}

a.btn-small-red {
    border: 1px solid #7A1F0A;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #000000;
    color: #FFFFFF;
    cursor: pointer;
    display: table-cell;
    font-family: 'Open Sans', sans-serif;
    font-size: 170%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #8E2A04;
}
a.btn-small-red:hover {
    background-position: 0 -43px;
}
a.btn-small-red:active {
    background-position: 0 -86px;
}

.iconred {
	color: #FFFFFF;
}

.btnempty {
	border: 1px dashed rgba(255,255,255,0.5);
	background:rgba(255,255,255,0.1);
	color: #FFFFFF;	
    text-shadow: 0 1px 1px #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px 4px 4px 4px;
    
}

.btnempty:hover {
	border: 1px dashed rgba(255,255,255,0.5);
	background:rgba(255,255,255,0.1);
	color: #FFFFFF;	
}



/*
 * ******
 * 
 *  LOGIN:
 * 
 * ******
 */

.login-container {
	border-radius: 4px;
	background-color:rgba(255,255,255,0.2);
	width:30%;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	
}


/*
 * ******
 * 
 *  DISCOVER LIST:
 * 
 * ******
 */

#menu {
	position:absolute;    
	display: block;
	top:0px;
	left:0px;
	background:#FFFFFF;
	padding: 5px;
	border-radius: 0 0 4px 0;
	z-index: 200;
}

/*
 * Image and Meta:
 */

.trash-img { 
	width:100%;
	display:block;
	overflow:hidden;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
}

.spotted {
	font-size:18px;
	text-shadow: 0px 2px 1px rgba(150, 150, 150, 1);
	float:right;
	padding-right:20px;
	padding-top:150px;
	color:#FFFFFF;
}

.spotter {
	font-size:14px;
	text-shadow: 0px 2px 1px rgba(150, 150, 150, 1);
	float:left;
	padding-left:20px;
	padding-top:130px;
	color:#FFFFFF;	
}

.spotter strong {
	font-size:16px;
}

/*
 * Interaction area:
 */
.interact {
	    text-align: center;
}

/*
 * Map:
 */
map-container img {
	max-width:none;
}

.map-container {
	max-width:none;
	width: 100%;    
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
